.main-section{
    position: relative;
    display: flex;
    align-items: center;
    background: #528A4A;
    .bg-stretch{
        z-index: 10;
    }

    .container{
        // height: 70vh;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
        z-index: 10;
        @include position(center, stretch, column);
    }

    &__text{
        h1{
            font-family: HelveticaNeueCyr;
            font-weight: bold;
            font-size: 50px;
            line-height: 1;
            text-align: left;
            color: #fff;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            margin-bottom: 30px;
        }
        p{
            font-family: HelveticaNeueCyr;
            font-weight: 500;
            font-size: 26px;
            text-align: left;
            line-height: 1;
            color: #fff;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            
            span{
                font-size: 30px;
                text-decoration: underline;
            }
        }
    }
    &__leadcontainer{
        margin-top: 50px;
        // margin-bottom: 30px;
        
        video{
            width: 100%;
            border-radius: 10px;
            box-shadow: 0, 0, 5px, 3px, rgba(0, 0, 0, 0.6);
        }
        form{
            border:  1px solid white;
            padding: 15px;
            @include position(stretch, center, column);
            margin-bottom: 5px;

            input:not(:last-child){
                margin-bottom: 15px;
            }
        }
        .form-header{
            font-family: HelveticaNeueCyr;
            font-weight: 500;
            font-size: 40px;
            line-height: 1;
            text-align: center;
            color: #fff;

        }
        .form-part{
            padding-bottom: 5px;
            @include position(space-between, stretch, column);
            overflow: hidden;
            position: relative;

        }
    }
}

@include media-breakpoint-down("lg"){
    .main-section{
      
        &__text{
            // margin-top: 150px;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 22px;
            }
        }
        &__leadcontainer{
            .video-part{
                @include position(center, flex-end);
            }
            .form-part{
                .form-header{
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                form{
                    input{
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down("md"){
    .main-section{
        .container{
            // padding: 20px;
        }
        &__text{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 22px;
            }
        }
        &__leadcontainer{
            margin-top: 30px;
            .video-part{
                video{
                    width: 100%;
                }
                @include position(center, flex-start);
            }
            .form-part{
                margin-top: 30px;
                form{
                    @include position(space-between);
                    flex-wrap: wrap;
                    input, button{
                        margin-bottom: 0;  
                        width: 49%;

                        &:nth-child(1), &:nth-child(2){
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down("sm"){
    .main-section{
        .container{
            // padding: 20px;
        }
        &__text{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 22px;
            }
        }
        &__leadcontainer{
            margin-top: 30px;
            .video-part{
                video{
                    width: 100%;
                }
                @include position(center, flex-start);
            }
            .form-part{

        
            }
        
        }
    }
}

@include media-breakpoint-down("xs"){
    .main-section{
        &__text{
            h1{
                font-size: 26px;
                text-align: left;
            }
            p{
                font-size: 18px;
                line-height: 1.2;
                span{
                    font-size: 18px;
                }
            }
        }
        &__leadcontainer{
            margin-top: 30px;
            .video-part{
                video{
                    width: 100%;
                }
                @include position(center, flex-start);
            }
            .form-part{
              display: none;
            }
        }
    }
}