.mobileprice-section{
    input:not(:last-child){
        margin-bottom: 20px;
    }
    .form-header{
        text-align: center;
        font-family: "HelveticaNeueCyr";
        margin-bottom: 10px;
        font-size: 24px;
    }
}

@include media-breakpoint-up("sm"){
    .mobileprice-section{
        display: none;
    }
}